<h1><center>Listing Movies</center></h1>

<center><%= link_to 'NEW MOVIE', new_movie_path %></center>
<p></p>

<table>
	<tr>
		<col width="20%">
		<col width="60%">
		<col width="10">
		<col width="10">
		<th>TITLE</th>
		<th>SYNOPSIS</th>
		<th><% if @watched_filter == "All" then %>
				<%= link_to 'WATCHED? (ALL)', watched_movies_path("Watched") %>
			<% elsif @watched_filter == "Watched" then %>
				<%= link_to 'WATCHED? (YES)', watched_movies_path("Unwatched") %>
			<% else %>
				<%= link_to 'WATCHED? (NO)', watched_movies_path("All") %>
			<% end %>
		</th>
		<th>OPTIONS</th>
	</tr>

	<% if @watched_filter == "Watched" then filtered_movies = @movies.select do |movie| movie.watched == true end %>
	<% elsif @watched_filter == "Unwatched" then filtered_movies = @movies.select do |movie| movie.watched == false end %>
	<% else %>
		<% filtered_movies = @movies.to_a %>
	<% end %>
	
	<% filtered_movies.sort_by{ |movie| movie.title }.each do |movie| %>
		<tr valign="top">
			<td><center><%= link_to movie.title.upcase, movie_path(movie) %></td></center>
			<td><%= movie.description.capitalize %></td>
			<td><center><%= movie.watched ? "YES" : "NO" %></center></td>
			<td><center>
				<%= link_to 'Edit', edit_movie_path(movie) %>
				<%= link_to 'Delete', movie_path(movie),
							method: :delete,
							data: { confirm: 'Are you sure?' } %>
				</center>
			</td>
		</tr>
	<% end %>
</table>