<h1>Listing movies</h1>

<%= link_to 'NEW MOVIE', new_movie_path %>
<p></p>

<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Watched?</th>
		<th>Options</th>

	</tr>

	<% @movies.each do |movie| %>
		<tr>
			<td><%= link_to movie.title.upcase, movie_path(movie) %></td>
			<td><%= movie.description.capitalize %></td>
			<td><center><%= movie.watched ? "YES" : "NO" %></center></td>
			<td>
				<%= link_to 'Edit', edit_movie_path(movie) %>
				<%= link_to 'Delete', movie_path(movie),
							method: :delete,
							data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
	<% end %>
</table>